<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
<h1>User Chart: Attention Span to Grade Average</h1>
<table>
    {% for row in data: %}
    <tr>
        {% for elem in row: %}
        <td>
            {{ elem }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<button onclick="window.location.href='http://127.0.0.1:5000/scatterplot'">Button to Scatterplot</button>
<br>
<button onclick="window.location.href='http://127.0.0.1:5000/bargraph'">Button to Bargraph</button>
</body>
</html>